<section class="tour" id="tour">
    <div class="tour__media">
        <img class="tour__media__image" src="" alt="" />
        <i class="tour__media__icon material-icons">favorite</i>
    </div>
    <div class="tour__info">
        <header class="tour__header">
            <h2 class="tour__header__title" id="tourTitle"></h2>

            <div class="tour__header__reviews">
                <div class="tour__header__reviews__starts" id="tourReviewsStarts"></div>
                <p class="tour__header__reviews__count" id="reviewCount"></p>
            </div>
        </header>

        <p class="tour__info__description" id="tourDescription"></p>

        <hr />

        <dl class="dl--inline">
            <dt>DESTINATIONS</dt>
            <dd id="destinations"></dd>

            <dt>STARTS/ ENDS IN</dt>
            <dd id="startsEnds">Sofia / Sofia</dd>

            <dt>OPERATOR</dt>
            <dd id="operator">Topdeck</dd>
        </dl>
    </div>
    <div class="tour__details">
        <div class="tour__details__duration-price">
            <dl class="dl">
                <dt>Duration</dt>
                <dd class="bold" id="duration"></dd>
            </dl>

            <dl class="dl--highlighted">
                <dt>From</dt>
                <dd>€729</dd>
            </dl>
        </div>

        <hr />

        <div class="tour__details__availability">
            <dl class="dl">
                <dt>28 APR 2019</dt>
                <dd>10 spaces left</dd>
            </dl>

            <dl class="dl">
                <dt>29 APR 2019</dt>
                <dd>10 spaces left</dd>
            </dl>
        </div>

        <button class="btn-primary">
            <span>View tour</span>
            <i class="material-icons"> keyboard_arrow_right </i>
        </button>
    </div>
</section>
