/* Helvetica Neue Regular */
@font-face {
	font-family: "Helvetica Neue";
	src: url("fonts/helvetica/Helvetica-Neue-Regular.eot");
	src: url("fonts/helvetica/Helvetica-Neue-Regular.eot")
			format("embedded-opentype"),
		url("fonts/helvetica/Helvetica-Neue-Regular.woff2") format("woff2"),
		url("fonts/helvetica/Helvetica-Neue-Regular.woff") format("woff"),
		url("fonts/helvetica/Helvetica-Neue-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

/* Helvetica Neue Light */
@font-face {
	font-family: "Helvetica Neue";
	src: url("fonts/helvetica/Helvetica-Neue-Light.eot");
	src: url("fonts/helvetica/Helvetica-Neue-Light.eot")
			format("embedded-opentype"),
		url("fonts/helvetica/Helvetica-Neue-Light.woff2") format("woff2"),
		url("fonts/helvetica/Helvetica-Neue-Light.woff") format("woff"),
		url("fonts/helvetica/Helvetica-Neue-Light.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
}
