// colors
$color-primary: #ee8823;
$color-secondary: #41c4ab;
$color-text: #2c3e50;
$color-text-info: #818d99;
$color-background: #e6e9ef;
$color-review-icon-start: #feb50a;

// breakpoints
$breakpoint-sm: 600px !default; // not used
$breakpoint-md: 900px !default;
$breakpoint-lg: 1200px !default;

// typography
$font-family: 'Helvetica Neue' !default;

$h1-fontsize: 1.5rem !default;
$h2-fontsize: 1.1rem !default;
