select {
	padding: 10px;
	border: 1px solid #d4d9e2;
	background-color: white;
	border-radius: 1px;
	font-size: 0.8rem;
	margin-top: 3px;
	cursor: pointer;
	& option {
		font-weight: normal;
		display: block;
		white-space: nowrap;
		min-height: 1.2em;
		padding: 0px 2px 1px;
	}
}
